mpv/.config/mpv/watch_later
awesome/.config/awesome/debian
ranger/.config/ranger/__pycache__
ranger/.config/ranger/history
ranger/.config/ranger/tagged
ranger/.config/ranger/plugins/__pycache__
/ranger/.config/ranger/plugins/__init__.py
__pycache__
*.pyo
__init__.py
*.swp
*.swo
__pycache__
*.pyo
__init__.py
*.swp
*.swo
