mpv/.config/mpv/watch_later
awesome/.config/awesome/debian
awesome/.config/awesome/mailchecker
ranger/.config/ranger/__pycache__
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks
ranger/.config/ranger/tagged
ranger/.config/ranger/plugins/__pycache__
/ranger/.config/ranger/plugins/__init__.py
/vim/.vim/colors/tomorrow-night-spcmd.vim
__pycache__
*.pyo
__init__.py
*.swp
*.swo
__pycache__
*.pyo
__init__.py
*.swp
*.swo
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
