/bin/bash: Render: command n:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintmedium

URxvt.termName: rxvt-unicode-256color
URxvt.terminalName: rxvt-unicode-256color

! True transparency - Ranger w3m image display will not work when enabled -- using compton setting instead
URxvt.depth: 32
!URxvt.background: [100]#300A24
!URxvt.background: [100]#005577
!URxvt.background: [100]#222222
!URxvt.background: [100]#000000
!URxvt.background: [100]#2B66C9
!URxvt.background: [100]#4B0082
!URxvt.background: [100]#4B0082
!URxvt.background: [100]#090300
!URxvt.background: [100]#e2e2e2
URxvt.background: [100]#e2e2e2

! Native (fake) transparency
!URxvt*.transparent: true
! URxvt..shading: 0 to 99 darkens, 101 to 200 lightens
!URxvt*.shading: 10

! Use the specified colour as the windows foreground colour [default Black]; option -fg.
URxvt.foreground: #000000

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when trying to find glyphs for
!URxvt.font: -*-terminus-bold-r-normal-*-14-*-*-*-*-*-*-*
!URxvt.font: -*-terminus-medium-r-normal-*-16-*-*-*-*-*-*-*

URxvt.font: xft:monospace:pixelsize=14:antialias=true:hinting=true
!URxvt.font: xft:Nimbus Mono PS:pixelsize=14:antialias=true:hinting=true
!URxvt.font: -*-terminus-medium-r-normal-*-16-*-*-*-*-*-*-*
!URxvt.font: xft:Nimbus Mono PS:pixelsize=16:antialias=true:hinting=true
!URxvt.font: xft:Adobe Garamond Pro:pixelsize=16:antialias=true:hinting=true
!URxvt.font: xft:Dejavu Sans Mono:pixelsize=14:antialias=true:hinting=true
!URxvt.font: xft:GaramondNo8\\-Regular:pixelsize=12:antialias=true:hinting=true
!URxvt.font: xft:Ubuntu Mono derivative Powerline:pixelsize=17:antialias=true:hinting=true
!URxvt.letterSpace: -1
!URxvt.font: -ctrld-fixed-medium-r-normal--13-80-96-96-c-80-iso10646-1
!URxvt.font: -ctrld-fixed-medium-r-normal-*-16-*-*-*-*-*-*-*
!URxvt.font: -misc-fixed-medium-r-*-*-13-*-*-*-*-60-*-*
!URxvt.font: 8x13
!URxvt.font: 9x15
URxvt.lineSpace: 1

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt.scrollBar: false

!URxvt.dynamicColors: on

! Perl Extensions: copy/paste, url-selection,
URxvt.perl-ext-common: default,clipboard,matcher
!URxvt.url-select-plus.mediaplayer: urxvtc -e mpv
!URxvt.url-select-plus.imgviewer: feh
!URxvt.url-select-plus.launcher: /usr/bin/firefox
!URxvt.keysym.M-g: perl:url-select-plus:select_next
!URxvt.url-launcher: firefox
!URxvt.matcher.button: 1
!URxvt.url-select-plus-underline: true
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
!URxvt.tabbed.autohide: true
URxvt.cursorUnderline: true

!! Basic colors
!! black
URxvt.color0: black
URxvt.color8: black
!URxvt.color0: #090300
!URxvt.color8: #5c5855
!! red
!URxvt.color1: red
!URxvt.color9: red
URxvt.color1: #d40000
URxvt.color9: #d40000
!URxvt.color1: #db2d20
!URxvt.color1: #db2d20
!URxvt.color9: #A12F31
!URxvt.color1: #A12F31
!! green
!URxvt.color2: green
!URxvt.color10: green
URxvt.color2: #008800
URxvt.color10: #008800
!!URxvt.color2: #01a252
!URxvt.color10: #01a252
!URxvt.color2: #2DB039
!URxvt.color10: #2DB039
!! yellow
!URxvt.color3: yellow
!URxvt.color11: yellow
!URxvt.color3: #fff000
!URxvt.color11: #fff000
!URxvt.color3: #F1C83E
!URxvt.color3: #F1C83E
URxvt.color3: #C08D08
URxvt.color11: #C08D08
!! blue
URxvt.color4: #4084D6
URxvt.color12:#4084D6
!URxvt.color4: #0000ff
!URxvt.color12:#0000ff
!URxvt.color4: blue
!URxvt.color12: blue
!URxvt.color4: #01a0e4
!URxvt.color12: #01a0e4
!URxvt.color4: #2E51A2
!URxvt.color12: #2E51A2
!! magenta
!URxvt.color5: magenta
!URxvt.color13: magenta
!URxvt.color5: #660066
!URxvt.color13: #660066
!URxvt.color5: #b500b5
!URxvt.color13: #b500b5
URxvt.color5: #a16a94
URxvt.color13: #a16a94
!! cyan
URxvt.color6: #4084D6
URxvt.color14:#4084D6
!URxvt.color6: cyan
!URxvt.color14: cyan
!URxvt.color6: #B5E4F4
!URxvt.color14: #B5E4F4
!URxvt.color6: #01a252
!URxvt.color14: #01a252
!URxvt.color6: #01a0e4
!URxvt.color14: #01a0e4
!URxvt.color6: #0000ff
!URxvt.color14:#0000ff
!! white
URxvt.color7: #ffffff
URxvt.color15: #ffffff

!! Cursor color
URxvt.cursorColor: black
!URxvt.cursorColor: green
!!URxvt.cursorColor: #00AA00
!!URxvt.cursorColor: #5FE36C
!URxvt.cursorColor: #FFFFFF
!!URxvt.cursorColor: #222222
!!URxvt.cursorColor: #005577
!!URxvt.cursorColor: grey
!URxvt.cursorColor: white

!! Newsbeuter colors
!newsbeuter.color1:#222222
!newsbeuter.color2:#FFFFFF
!newsbeuter.color3:#808080
!newsbeuter.color4:#c0c0c0
!newsbeuter.color5:#ff0000
!newsbeuter.color6:#005577
!newsbeuter.color7:#00AA00
!newsbeuter.color8:#1C7EFF
!newsbeuter.color9:#FFFFFF
